* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.a {
    grid-area: 1 / 1 / 2 / 4;
    background: lightblue;
    height: 100px;
    text-align:center;
    color: white;
    font-size: 5rem;;
}
.b {
    grid-area: 2 / 1 / 4 / 2;
    background: lightgreen;
    text-align:center;
    color: white;
    font-size: 5rem;;
}
.c {
    grid-area: 2 / 2 / 3 / 3;
    background: yellow;
    text-align:center;
    color: white;
    font-size: 5rem;;
}
.d {
    grid-area: 2 / 3 / 3 / 4;
    background: purple;
    text-align:center;
    color: white;
    font-size: 5rem;;
}
.e {
    grid-area: 3 / 2 / 4 / 4;
    background: violet;
    text-align:center;
    color: white;
    font-size: 5rem;;
}
.f {
    grid-area: 4 / 1 / 5 / 3;
    background: red;
    text-align:center;
    color: white;
    font-size: 5rem;;
}
.g {
    grid-area: 4 / 3 / 5 / 4;
    background: blue;
    text-align:center;
    color: white;
    font-size: 5rem;;
}
.h {
    grid-area: 5 / 1 / 6 / 4;
    background: grey;
    text-align:center;
    color: white;
    font-size: 5rem;;
}
