* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.a {
    grid-area: 1 / 1 / 5 / 9;
    background: lightblue;
    text-align:center;
    color: white;
    font-size: 5rem;
}
.b {
    grid-area: 5 / 1 / 9 / 5;
    background: lightgreen;
    text-align:center;
    color: white;
    font-size: 5rem;
}
.c {
    grid-area: 5 / 5 / 6 / 9;
    background: yellow;
    text-align:center;
    color: white;
    font-size: 5rem;
}
.d {
    grid-area: 6 / 5 / 9 / 9;
    background: purple;
    text-align:center;
    color: white;
    font-size: 5rem;
}
.e {
    grid-area: 9 / 1 / 13 / 9;
    background: violet;
    text-align:center;
    color: white;
    font-size: 5rem;
}
.f {
    grid-area: 1 / 9 / 8 / 13;
    background: red;
    text-align:center;
    color: white;
    font-size: 5rem;
}
.g {
    grid-area: 1 / 13 / 3 / 17;
    background: blue;
    text-align:center;
    color: white;
    font-size: 5rem;
}
.h {
    grid-area: 3 / 13 / 8 / 17;
    background: grey;
    text-align:center;
    color: white;
    font-size: 5rem;
}
.j {
    grid-area: 8 / 9 / 13 / 17;
    background: gold;
    text-align:center;
    color: white;
    font-size: 5rem;
}
.k {
    grid-area: 1 / 17 / 3 / 25;
    background: rgb(17, 75, 17);
    text-align:center;
    color: white;
    font-size: 5rem;
}
.l {
    grid-area: 3 / 17 / 5 / 19;
    background: rgb(92, 214, 92);
    text-align:center;
    color: white;
    font-size: 5rem;
}
.m {
    grid-area: 3 / 19 / 5 / 25;
    background: blue;
    text-align:center;
    color: white;
    font-size: 5rem;
}
.n {
    grid-area: 5 / 17 / 11 / 25;
    background: rgb(60, 159, 216);
    text-align:center;
    color: white;
    font-size: 5rem;
}
.p {
    grid-area: 11 / 17 / 13 / 25;
    background: rgb(228, 163, 22);
    text-align:center;
    color: white;
    font-size: 5rem;
}